<div class="container">

  <button class="btn btn-primary" (click)="GrabData()">Grab Data</button>
  <div class="container" *ngIf="dataReady">
    <div>
      <span>{{ sspData.Description }}</span>
    </div>

    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Geometry</th>
            <th>Properties</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feature of sspData.FeatureData">
          <td>{{ feature.id }}</td>
          <td>{{ feature.type }}</td>
          <td>{{ feature.geometry.type }} ({{feature.geometry.coordinates[0] }}, {{ feature.geometry.coordinates[1] }})</td>
          <td>wikipedia: {{ feature.properties.wikipedia }}<br>city: {{ feature.properties.city }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
